

<script>
var user = <%= @user.id %>;
</script>

<%= form_for @user, url: {action: 'update'} do |f|%>

  <table>

  <tr>


    <td><%= f.label :username%></td>
    <td><%= f.text_field :handle%></td>

  </tr>
<tr>

    <td><%= f.radio_button(:male, true) %>
    <%= f.label(:gender_male, "Male")%></td>
    <td><%= f.radio_button(:male, false) %>
    <%= f.label(:gender_male, "Female")%></td>
  </tr><tr>

    <td><%= f.label :age%></td>
    <td><%= f.number_field :age%></td>
  </tr><tr>

    <td><%= f.label :weight%></td>
    <td><%= f.number_field :weight%></td>
  </tr><tr>

    <td><%= f.label :target_calories%></td>
    <td><%= f.number_field :target%></td>
  </tr><tr>

    <td><%= f.label :height_in_inches%></td>
    <td><%= f.number_field :height%></td>
  </tr><tr>

    <td><%= f.label :goal_weight%></td>
    <td><%= f.number_field :goal%></td>
  </tr><tr>
    <td>


    <% if (@user.goal && @user.height) && @user.age
      maint = (66 + ( 6.23 * @user.weight) + ( 12.7 * @user.height ) - ( 6.8 * @user.age )) * 1.2
    end
    %>
    Your maintenance caloric needs are
  </td>
  <th>
    <%= maint.to_i %>
  </th>
  </tr>
    <tr>
      <td>

      <%= f.submit %></td>
  </tr>
  </table>

  

<% end %>
<br>
<%= link_to 'main',  "/" %>

<%= render "layouts/food" %>
<br>
<h3><%=@user.handle%> id: <%=@user.id%></h3>
