<em>food_journals index.html.erb</em>

<h2>Food Journal for <%= @the_date.strftime("%m/%d/%Y") %> </h2>
<br>


<div id="foodReceived">
<%= render "layouts/food" %>
</div>
<br>
<br>


<input id="foodToFind" placeholder="food item"/>
  <button id="get"> Find </button>
  <div id="menuContaier">
    <ul id="menu">

    </ul>

  </div>
<br>

<div id="nutrionalInfo">

</div>
Amount in grams<input type="number" id="qty" placeholder="0" min="0">
<button id="create">click to add this food to your diary</button>
</div>
<%= link_to 'previous day',  food_journals_path + '?date=' + @the_date.prev_day.to_s%>
<%= link_to 'next day',  food_journals_path + '?date=' + @the_date.next_day.to_s%>
<br>
<%= link_to 'main',  "/" %>
<br>
<span id="dateSpan"><%= @the_date%></span>
