
<div id="foods">
  <table class="gridtable">

  <tr>
    <th>
      Food Item
    </th>
    <th>
      Serving in grams
    </th>
    <th>
      Calories
    </th>
    <th>
      Calories from Fat
    </th>
    <th>
      Calories from Protein
    </th>
    <th>
      Calories from Carbs
    </th>

  </tr>
  <%

  total_cals = 0
  total_fat = 0
  total_pro = 0
  total_carbs = 0
  if @foods
  @foods.each do |food|

    total_cals += food.cals
    total_fat = total_fat + food.fat
    total_carbs = total_carbs + food.carbs
    total_pro = total_pro + food.protein %>
    <tr>
      <td>
        <%=food.food%>
      </td>
      <td>
        <%= food.qty %>
      </td>
      <td>
        <%= food.cals %>
      </td>
      <td>
        <%= food.fat %>
      </td>
      <td>
        <%= food.protein %>
      </td>
      <td>
        <%= food.carbs %>
      </td>
      <td>
        <%= link_to 'update qty' , edit_food_journal_path(food)%>
      </td>
      <td>
        <%= link_to 'delete entry' , food_journal_path(food) + '?date=' + @the_date.to_s , method: :delete %>
      </td>
    </tr>



  <% end
end%>
  <tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <br>

    <tr>
      <td>

      </td>
      <td>

      </td>
      <th>
        Total Calories
      </th>
      <th>
        Total Calories from Fat
      </th>
      <th>
        Total Calories from Protein
      </th>
      <th>
        Total Calories from Carbs
      </th>
    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>
        <%=total_cals%>
      </td>
      <td>
        <%=total_fat%>
      </td>
      <td>
        <%=total_pro%>
      </td>
      <td>
        <%=total_carbs%>
      </td>
    </tr>

  </table>
  <br>



</div>
