<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <script>
  <% if @user %>

  var user = <%= @user.id %>;

  <% end %>
  var calPie = [0,0,0,33]
  </script>
  <style>
  body{
    background:#fefefe;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    width: 100%;
    height: 100%;
  }
  </style>
</head>

<body>

  <div id="header">

    <div>
<% if session[:user_id] %>
<span>user: <%= @user.handle %></span>
<%= link_to 'profile', edit_user_path(@user) if @user%>



  <form method="POST" action="/session">
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <input name="_method" value="DELETE" type="hidden">
<button>Sign Out</button>
</div>
<br>
</form>
<% else %>
Already a member?
<form action = "/session" method = "POST">
  <label for = "username">
    Username
  </label>
  <input name = "username" type = "text">
  <label for = "password">
    Password:
  </label>
  <input name = "password" type = "password">
  <input name = "authenticity_token" value = "<%= form_authenticity_token() %>"
    type = "hidden">
<button>Sign In</button><br>



</form>
<%= link_to 'Register a new user', new_user_path %>
<% end %>

<div id="title">

<span>FOOD IN GRAMS</span></div>
</div>
</div>
  <hr>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
